@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: radial-gradient(40% 130% at 45% 75%, #3A3A3A 0%, #0B0B0B 100%);
  background-repeat: repeat-y;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/montserrat.ttf");
}

@font-face {
  font-family: "Nats";
  src: url("../../public/fonts/NATS-Regular.ttf");
}